---
Name: raid-target-config
Description: The desired RAID configuration for a system as a list of virtual disks to build.
Documentation: |
  Each field in a volume specification is defined as follows:

  * Controller: an integer that specifies which discovered controller
    the RAID volume should be created on.  drp-raid orders controllers
    based on PCI address.  This value defaults to 0, indicating that the
    volume will be built on the first discovered controller.

  * RaidLevel: A string value that specifies what level of RAID to
    build.  RaidLevel must be present in all volspecs, and it has no
    default.  Valid RaidLevels are:

    * "jbod": All disks in this volspec should be turned into JBOD
          volumes.  If a given RAID controller does not support jbod mode, a
          single-disk RAID0 will be created for each disk instead.
    * "concat": The disks should be concatenated.
    * "raid0": Make a RAID0 with the chosen disks.
    * "raid1": Make a RAID1 with the chosen disks.
    * "raid5": Make a RAID5 with the chosen disks.
    * "raid6": Make a RAID6 with the chosen disks.
    * "raid00": Make a RAID00 with the chosen disks.
    * "raid10": Make a RAID10 with the chosen disks.
    * "raid1e": Make a RAID1e with the chosen disks.
    * "raid50": make a RAID50 with the chosen disks.
    * "raid60": make a RAID60 with the chosen disks.
    * "raidS": Works like jbod, but makes raid0 volumes.

    Not all RAID controllers will support the above RAID levels, and
    with the exception of jbod if a RAID level is not supported then
    volume creation will fail.

  * Disks: A list of physical disk specifiers that indicate which
    physical disks should be used to create the volume.  When creating a
    volume by specifying individual disks, you are responsible for
    making sure that the choice of disks is sane for the desired
    controller.  If Disks is specified, then DiskCount is ignored and
    drp-raid will not perform more than minimal sanity checking on the
    disks provided.  Each entry in the Disks list must contain the
    following fields:

    * "Enclosure": a string that identifies which enclosure the disk is in.
    * "Slot": a number that identifies which slot in the Enclosure the desired
        physical disk is in.

  * DiskCount: The number of disks that should be used to build the
    desired volume.  DiskCount can be one of the following:

    * "min", which indicates that the smallest number of disks that can
        be used for the requested RaidLevel whould be used.
    * "max", which indicates that the largest number of disks with the
        same Type and Protocol should be used.
    * A positive integer.

    If DiskCount is unspecified and Disks is also unspecified, DiskCount
    will default to "min".

  * Size: A string value that indicates what the desired total useable
    size of the RAID array should be.  When you let drp-raid decide what
    physical disks to pick for volume creation, it will pick the
    smallest disks that can be used to satisfy the volume creation
    request.  Size can be one of the following values:

    * "min", which will pick the smallest disks that meet the rest of
        the constraints in the volspec.
    * "max", which will pick the largest disks that meet the rest of the
        constraints in the volspec.
    * A string containing a human-readable size (100 MB, 1 TB, 5 PB).

    If Size is unspecified or left blank, it will default to "max".

  * Type: A comma-seperated list of disk types that should be tried in
    order when creating a volume.  Currently, individual items can be
    "disk" for rotational disks, and "ssd" for solid-state disks.  If
    unspecified, "disk,ssd" will be used.  All physical disks in a
    created volume will be of the same type, and it is perrmitted to
    have a list with one entry.

  * Protocol: A comma-seperated list of low-level protocols that should
    be tried in order when creating a volume.  Currently, individual
    items can be "sata" for disks that communicate using the SATA
    protocol, and "sas" for disks that communicate using the SAS
    protocol.  All physical disks in a created volume will communicate
    using the same protocol, and it is perrmitted to have a list with
    one entry.

  * StripeSize: A string containing the human-readable size of each
    individual stripe in the RAID array. It is generally a power of two
    less than or equal to 1 MB.  If unspecified, it defaults to "64 KB".

  * Name: The desired name of the volume, if the RAID controller
    supports naming volumes.  Naming a volume is currently unsupported.

  * VolumeID: The controller-specific ID of the created volume.

  * Bootable: A boolean value indicating whether this volume should be
    the default one the RAID controller will use when booting the
    system.  Defaults to false, and Bootable support is currently not implemented.

  * Encrypt: Whether the volume should be transparently encrypted by the RAID controller.
    This requires controller-specific setup.

  * AllowMixedSizes: Whether we will create a volume that spans physical disks of
    wildly mixed sizes. By default, we will fail if we pick disks underlying a
    volume that vary in size by more than 10%.

Meta:
  icon: "disk outline"
  color: "blue"
  title: "RackN Content"
Schema:
  type: array
  default:
    - RaidLevel: jbod
      DiskCount: max
      Controller: 0
  items:
    type: object
    properties:
      RaidLevel:
        description: |
          RaidLevel is one of the usual RAID levels.
        type: string
        default: jbod
        enum:
          - jbod
          - raidS
          - raid0
          - raid1
          - raid1e
          - raid5
          - raid6
          - raid10
          - raid50
          - raid60
      Size:
        description: |
          Size is the desired size of the virtual disk.  Size can be 'min','max', or an integer
          value with an optional  KB, MB, GB, or TB suffix.
        type: string
        default: min
      StripeSize:
        description: |
          The size of an individual stripe of data on the RAID volume.   It must be a power of two, and defaults to 64K
        default: "64KB"
        type: string
      Name:
        description: "An optional name of the volume.  Not all controllers support naming volumes"
        type: string
      VolumeID:
        description: |
          The ID of the created volume.  Only meaningful when the underlying tooling
          is reporting on existing volumes.
        type: string
      Bootable:
        type: boolean
        default: false
        description: |
          Whether or not the tooling should attempt to have the RAID controller mark this volume as
          the bootable volume.
      Encrypt:
        type: boolean
        default: false
        description: |
          Whether or not the volume should be encrypted.
      Type:
        type: string
        default: "disk,ssd"
        description: |
          What type of drives (spindles or SSD) shoud be used to build the volume.
          "disk" means use spindles, "ssd" means use SSD volumes.  The tooling will not
          attempt to build a volume using multiple disk types
        enum:
          - disk
          - ssd
          - disk,ssd
          - ssd,disk
      Protocol:
        type: string
        default: "sas,sata"
        description: |
          What protocol is used to communicate with the disks.
        enum:
          - sas
          - sata
          - nvme
          - sas,sata
          - sata,sas
          - nvme,sas,sata
      Controller:
        type: integer
        default: 0
        description: |
          Controller is the index of the controller that should be used to build
          this VolSpec on.  Controllers are ordered by PCI bus address in ascending order.
      Disks:
        type: array
        description: |
          An array of objects that uniquely identify the disks that should be used to
          build this array.  This must be specified of the DiskCount field is left empty,
          and must not be specified of DiskCount is not empty.
        items:
          type: object
          properties:
            Enclosure:
              type: string
              description: |
                The enclosure attached to the Contoller that this disk is in.
            Slot:
              type: integer
              description: |
                The slot within the enclosure that the disk is located in.
      DiskCount:
        type: string
        description: |
          The number of disks that should be used to build the volume.  If this is not empty,
          the underlying tooling will attempt to pick disks to build the volume based
          the rest of the parameters in the volume specification.  Valid values for DiskCount can
          be "min" to pick the smallest number of disks required to build the volume,
          "max" to pick the remainder of disks to build the volume, or an integer to build a
          volume containing the specified number of disks.
