# Comment

# The path to the license file.
LicenseFile = "license.dat"

# The path to the report folder
#ReportPath = "/var/log"
BufferSize = "-1"
#MaxMBPerSecond = "5"
#OutputFilePath = "/log.txt"

# Address to the Blancco Management Console
MCServerAddress = "https://cloud.blancco.com:443"
# The user that should be used to import the reports
MCUserName = "{{ .Param "ble/username" }}"
# Password for the user
MCPassword = "{{ .Param "ble/password" }}"
#OutgoingPort = ""

[custom1]
name = "{{ .Param "ble/report-1-name" }}"
# mandatory = 1   # requires in put at STDIN if set to 1
mandatory = 0
default = "{{ .Param "ble/report-1-tag" }}"
disabled = 1
# disabled = 1  # disables the "custom1" field from use"

#[custom2]
#name = "Custom 2"
#mandatory = 0
#default = "Default Value"
#disabled = 0
