%pre --interpreter=busybox
# Set the network according to the "esxi/network-type" (default is "dhcp")
# Also set /tmp/install-override if Param "esxi/disk-install-override" set
{{ template "esxi-network-kickstart.tmpl" .}}

{{ if .ParamExists "esxi/disk-install-override" }}{{ template "esxi-disk-install-override.tmpl" .}}{{ end }}

# This can be problematic if there is a command included that will cause the system to
# reboot prematurely making our final section below not run.
# %post sections are run in a top down order so ours must be last.
{{ template "esxi-ks-custom-sections.tmpl" .}}

%post --interpreter=busybox
# remove later if not needed
rackn_dir="/opt/rackn/drpy"
DS_PATH=$(localcli --formatter json storage filesystem list|python -c "import sys,json;x=json.load(sys.stdin);y=[i for i in x if i['Type']=='VFFS' or 'vmfs' in i['Type'].lower()];print(y[0]['Mount Point'])")
mkdir -p $DS_PATH/rackn
conf_file="$DS_PATH/rackn/drpy.conf"
cat << EOF >> $conf_file
{{ template "drpy-agent.conf.tmpl" .}}
EOF
chmod +t $conf_file
cd $rackn_dir && python agent -f $conf_file
