#!/usr/bin/env python3
# Start up the DRPY agent on an ESXi system.

###
#  Requires
#     * Firewall VIB has been installed and activated for API port
#       access to the DRP Endpoint.
#     * DRPY VIB has been installed successfully on the system
#
#  Above should be met by the 'esxi-drpy-vib-render.py.tmpl' template
###

import sys, os, datetime, re, time

agent = "/opt/rackn/drpy/agent"
rackn_dir = "/opt/rackn/drpy"
conf_file = rackn_dir + "/drpy.conf"

if not os.path.isdir(rackn_dir):
  os.mkdir(rackn_dir)

### set up our config file from templates
print('Setting drpy-agent-conf file to: ' + conf_file)
conf_file_content = """{{ template "drpy-agent.conf.tmpl" .}}"""
if not conf_file_content:
  sys.exit('No DRPY conf file rendered from template "drpy-agent.conf.tmpl".')

try:
  with open(conf_file,"w+") as f:
    f.write(conf_file_content)
except Exception as e:
  print(str(e))

print("Wrote configuration file '" + conf_file + "' for Agent.")

if not conf_file:
  sys.exit('No DRPY conf file found on system ("' + conf_file + '".')

if not agent:
  sys.exit('DRPY agent not found on system"' + agent + '.')

start_agent = "python " + agent + " -f " + conf_file + " 2>&1"

count = 0
while not os.path.exists(agent):
  print("Agent is not installed there....")
  time.sleep(5)
  count=count+1
  if count > 30:
    sys.exit('DRPY agent not found on system"' + agent + '.')

print("Starting agent with config file named '" + conf_file + "'.")
os.system(start_agent)

print("Completed processing workflow jobs. Agent exited.")

