%post --interpreter=busybox
# Uses the "esxi/ks-custom-sections" Param to specify various additional
# custom kickstart templates to include in to the base kickstart.  See Param
# documentation for data structure and usage.
#
# DO NOT include the "%pre", "%post", and "%firstboot" tags in your templates
# to include additional "kickstart" command directives, use the param named
# "esxi/ks-custom-kickstart"
#
# This will generate a noop section script - to allow these comments
#
# No more COMMENTS AFTER THIS!
#

{{ $dot := . -}}
{{range $section, $templates := .Param "esxi/ks-custom-sections" -}}
{{range $template := $templates -}}

{{ if hasSuffix "-nochroot" $section }}
%{{ $section | replace "-nochroot" " --chroot" }}
{{ else -}}
%{{ $section | replace "-" " --interpreter=" }}
{{ end -}}
{{ $dot.CallTemplate $template $dot }}

{{ end -}}
{{ end -}}
