bootstate=0
title=Loading ESXi installer for {{.Env.OS.Name}}
timeout=2
prefix={{if .Param "esxi/http-boot" }}{{.Env.PathFor "http" "/"}}{{else}}/{{ trimSuffix "/" (.Env.PathFor "tftp" "/") }}{{end}}
{{.Env.LineFrom "boot.cfg" "kernel=" | trim | replace "/" "" }}
kernelopt=ks={{.Machine.Url}}/compute.ks{{if .ParamExists "kernel-options"}} {{.Param "kernel-options"}}{{end}}{{if .ParamExists "esxi/serial-console"}} {{.Param "esxi/serial-console"}}{{end}}
build=
updated=0
{{ if eq (.Param "esxi/set-norts") true }}norts=1{{ end }}
{{ if .ParamExists "esxi/boot-cfg-extra-options" }}{{ .Param "esxi/boot-cfg-extra-options" }}{{ end }}
{{.Env.LineFrom "boot.cfg" "modules=" | trim | replace "/" "" }}{{ range $key := .Param "esxi/boot-cfg-extra-modules" }} --- {{$key}}{{ end }}
