#
# VMware vSphere ESXi Kickstart - Python 3 based
#

# Accept the VMware End User License Agreement
vmaccepteula

# Set the root password for the DCUI and Tech Support Mode - If not
# specified, default to "RocketSkates"
rootpw --iscrypted {{if .ParamExists "provisioner-default-password-hash"}}{{ .Param "provisioner-default-password-hash" }}{{else}}$6$rebar$HBaBj/uDmsQMEw4Si6eja9Yba3rhB73Na36hbrp9KxDHm6s5veeWyXlsUkoxRACtP47978iiidziRdsYUC7gC/{{end}}

# ESXi license to apply to the system
{{if .ParamExists "esxi/license"}}serialnum --esx={{ .Param "esxi/license" }}{{else}}# no license specified, installing in evaluation mode{{end}}

{{ if .ParamExists "esxi/disk-install-override" -}}
# Using esxi/disk-install-override (set to strategey of '{{.Param "esxi/disk-install-override"}}').
# Directive will append to the '/tmp/kickstart-customizations.cfg' file.
{{ else -}}
# Install on the first local disk available on machine (defaults to
# "--firstdisk --overwritevmfs")
install {{ .Param "esxi/disk-install-options" }}
{{ end -}}

# created in the %pre section, which runs before the kickstart is processed
%include /tmp/kickstart-customizations.cfg

# include any custom kickstart directive templates
{{ template "esxi-ks-custom-kickstart.tmpl" .}}

{{ if eq (.Param "esxi/skip-reboot") true -}}
# Param "esxi/skip-reboot" requested no reboot
{{ else -}}
reboot --noeject
{{ end -}}

###
### end of kickstart directives
### begin pre/post/firstboot sections#
###
### NO MORE COMMENTS AFTER THIS POINT UNLESS THEY ARE NEXT TO A
### SPECIFIC pre/post/firstboot section
###

%pre --interpreter=busybox
# Set the network according to the "esxi/network-type" (default is "dhcp")
# Also set /tmp/install-override if Param "esxi/disk-install-override" set
{{ template "esxi-network-kickstart.tmpl" .}}

{{ if .ParamExists "esxi/disk-install-override" }}{{ template "esxi-disk-install-override.tmpl" .}}{{ end }}

# This can be problematic if there is a command included that will cause the system to
# reboot prematurely making our final section below not run.
# %post sections are run in a top down order so ours must be last.
{{ template "esxi-ks-custom-sections.tmpl" .}}

%post --interpreter=busybox
# remove later if not needed
rackn_dir="/opt/rackn/drpy"
DS_PATH=$(localcli --formatter json storage filesystem list|python -c "import sys,json;x=json.load(sys.stdin);y=[i for i in x if i['Type']=='VFFS' or 'vmfs' in i['Type'].lower()];print(y[0]['Mount Point'])")
mkdir $DS_PATH/rackn
conf_file="$DS_PATH/rackn/drpy.conf"
cat << EOF >> $conf_file
{{ template "drpy-agent.conf.tmpl" .}}
EOF
chmod +t $conf_file
cd $rackn_dir && python agent -f $conf_file
