# python3 version
# required to run in %pre --interpreter=python (esxi firewall rules)

import os, urllib, urllib.request, socket, ssl, json, time
url = '{{.ApiURL}}/api/v3/info'

os.system("localcli network firewall set --enabled false")
time.sleep( {{ .Param "esxi/python-sleep" }} )
ds = "{{ .Param "esxi/install-datastore" }}"

req = urllib.request.Request(url, method='GET')
req.add_header('Content-Type', 'application/json')
req.add_header('Authorization','Bearer {{.GenerateInfiniteToken}}')
result = urllib.request.urlopen(req,context=ssl.SSLContext(ssl.PROTOCOL_SSLv23))
data = result.read()
info = json.loads(data.decode('utf-8'))
print (info["version"])

path = ds + "/rackn"
if not os.path.isdir(path):
    os.mkdir( path )

os.system("localcli network firewall set --enabled true")

f = open(path + "/rackn-drp-version.txt", "a")
print(info["version"], file=f)
f.close()
