bootstate=0
title=Loading ESXi installer for esxi_670u1-110302608_lenovo
timeout=2
prefix=/{{ trimSuffix "/" (.Env.PathFor "tftp" "/") }}
kernel=
kernelopt=ks={{.Machine.Url}}/compute.ks{{if .ParamExists "kernel-options"}} {{.Param "kernel-options"}}{{end}}{{if .ParamExists "esxi/serial-console"}} {{.Param "esxi/serial-console"}}{{end}}
build=
updated=0
{{ if eq (.Param "esxi/set-norts") true }}norts=1{{ end }}
{{ if .ParamExists "esxi/boot-cfg-extra-options" }}{{ .Param "esxi/boot-cfg-extra-options" }}{{ end }}
modules=unset
