#!/usr/bin/env bash
{{ template "setup.tmpl" .}}
{{ template "validation-lib.tmpl" .}}

# Validate that IP and GW are in same Subnet (BASH Version)

xiterr() { [[ "$1" =~ ^[0-9]+$ ]] && { XIT=$1; shift; } || XIT=1; printf "FATAL: $*\n"; exit $XIT; }

# requies dotted quad format for subnet as input for netmask
# ipcalc can convert prefix to dotted quad/vice-versa, but usage blows chunks
IP=${IP:-"$1"}
GW=${GW:-"$2"}
NM=${NM:-"$3"}

NET_IP=""
NET_GW=""

function usage() {
  echo ""
  echo "USAGE:  $0 IP_ADDRESS GATEWAY NETMASK"
  echo "   OR:  IP=IP_ADDRESS GW=GATEWAY NM=NETMASK $0"
  echo ""
  echo "NOTES:  All addresses (and netmask) must be in dotted quad format."
  echo ""
}

(which ipcalc > /dev/null 2>&1 ) || xiterr "'ipcalc' not found in PATH ($PATH)"
[[ -z "$IP" ]] && { usage; xiterr "Required IP Address not specified"; }
[[ -z "$GW" ]] && { usage; xiterr "Required Gateway not specified"; }
[[ -z "$NM" ]] && { usage; xiterr "Required Netmask not specified"; }

validate_ipv4_ip_syntax $IP || xiterr "IP Address ('$IP') not valid dotted quad format"
validate_ipv4_ip_syntax $GW || xiterr "Gateway ('$GW') not valid dotted quad format"
validate_ipv4_ip_syntax $NM || xiterr "Netmask ('$NM') not valid dotted quad format"

check_same_subnet ${IP} ${GW} ${NM}
xit=$?
if [[ ${xit} == 0 ]]; then
  echo "SUCCESS: IP '$IP' and GW '$GW' are in the same subnet (${NET_IP}/${NM})."
else
  xiterr "IP and GW in different subnets (IP network is '$NET_IP' and GW network is '$NET_GW')."
fi

exit ${xit}
