#!/bin/bash

###
#  WARNING: this is a stub, the tooling doesn't exist yet.
###

###
#  Install the VMware vSphere VSAN HCL Validation compliance check tool.
###

{{ template "setup.tmpl" .}}

echo '
FAKE NEWS:
FAKE NEWS:  Installing the VMware vSphere VSAN HCL compliance tool
FAKE NEWS:
'

echo "Installing the VMware vSphere VSAN HCL compliance tool... "

exit 0
