#!/bin/bash

###
#  WARNING: this is a stub, the tooling doesn't exist yet.
###

###
#  Run the VMware vSphere VSAN HCL Validation compliance check tool.
###

{{ template "setup.tmpl" .}}

echo '
FAKE NEWS:
FAKE NEWS:  validating the Machine for VMware vSphere VSAN HCL compliance
FAKE NEWS:
'

echo "Setting Machine VSAN HCL Validated status to 'true'."
drpcli machines set {{.Machine.UUID}} param vmware/vsan-hcl-validated to true

echo "Setting Machine VSAN HCL Completed status to 'true'."
drpcli machines set {{.Machine.UUID}} param vmware/vsan-hcl-completed to true

exit 0
