---
Name: "bios-configure"
Description: "Configure BIOS settings on a system"
Documentation: |
  This task is responsible for setting BIOS settings on a machine.
  The ``bios-target-configuration`` parameter on the machine must be populated
  with a sane set of settings for the machine, and the ``bios-driver`` parameter
  must be set to one appropriate to the system.  This task takes several steps:

  #. If the ``bios-skip-config`` param is true, the task exits succesfully.
  #. The task compares the current settings to the ones from ``bios-target-configuration``
     If the values that need to be changed are the same as the ones listed in
     ``bios-last-attempted-configuration``, then the task prints out an error
     message indicating that the bios configuration process cannot make
     progress and exits with failure.
  #. The ``bios-last-attempted-configuration`` param is set to the settings
     from ``bios-target-configuration`` that need to be changed.
  #. The settings from ``bios-target-configuration`` are applied to the machine,
     and the task indicates success, failure, or a need to reboot depending on what
     the underlying tooling returns.
RequiredParams:
  - bios-target-configuration
  - bios-driver
Prerequisites:
  - bios-tools-install
Meta:
  icon: "setting"
  color: "blue"
  title: "RackN Content"
Templates:
  - Name: "configure"
    Contents: |
      #!/usr/bin/env bash
      {{ template "setup.tmpl" . }}
      if [[ {{.Param "bios-skip-config"}} == true ]] ; then
        echo "bios-skip-config set to true.  Skipping configuration..."
        exit 0
      fi
      if [[ {{.Param "bios-driver"}} = "lenovo" ]]; then
          {{ if .ParamExists "lenovo-onecli-install-target" }}
          export PATH="$PATH:{{.Param "lenovo-onecli-install-target"}}"
          {{ else }}
          echo "Please install the lenovo-support content package"
          exit 1
          {{ end }}
      fi
      target="$(
      cat <<"EOF"
      {{.ParamAsJSON "bios-target-configuration"}}
      EOF
      )"
      lastAttempt="$(
      cat <<"EOF"
      {{.ParamAsJSON "bios-last-attempted-configuration"}}
      EOF
      )"
      toTry="$(drp-bioscfg -driver {{.Param "bios-driver"}} -operation test <<< "$target")"
      if grep -q true < <( jq '. == {}' <<< "${toTry}"); then
          drpcli machines remove {{.Machine.UUID}} param bios-last-attempted-configuration || :
          echo "BIOS settings up to date"
          exit 0
      fi
      if grep -q true < <( jq ". == ${lastAttempt}" <<< "${toTry}"); then
          echo "Duplicate attempt to set the same target config"
          echo "This is either a bug in the BIOS or an invalid selection of settings."
          echo
          echo "Settings that are being attempted again:"
          jq '.' <<< "$toTry"
          echo
          exit 1
      fi
      drpcli machines remove {{.Machine.UUID}} param bios-last-attempted-configuration || :
      drpcli machines set {{.Machine.UUID}} param bios-last-attempted-configuration to "$toTry"
      drp-bioscfg -driver {{.Param "bios-driver"}} -operation apply <<< "$target"
