---
Name: raid-enable-encryption
Description: Turn on Raid Controller encryption
Documentation: |
  This task configures controller-level encryption if available.

  If the `raid-skip-encryption` parameter is true, this task will
  be entirely skipped.

  The system will generate a key and password if they are unset.
  To specify the key and password, use the `raid-encryption-key`
  and `raid-encryption-password` parameters.

  Optionally, the `raid-encryption-password-save` flag can be used to
  save the randomly generated password if not specified.  The password
  will be stored on the machine in `raid-encryption-password`.

  The `raid-encryption-key` is the machine's serial number if not specified.

Prerequisites:
  - raid-tools-install
OptionalParams:
  - raid-encryption-key
  - raid-encryption-password
  - raid-skip-encryption
Meta:
  icon: "disk outline"
  color: "blue"
  title: "RackN Content"
Templates:
  - Name: set-raid-encryption
    Contents: |
      #!/usr/bin/env bash

      {{template "setup.tmpl" .}}

      if [[ {{.Param "raid-skip-encryption"}} == true ]]; then
          echo "Skipping RAID encryption"
          exit 0
      fi

      mfgr="$(drpcli gohai |jq -r '.DMI | .System | .Manufacturer')"
      mstrkey="{{.Param "raid-encryption-key"}}"
      password="{{.Param "raid-encryption-password"}}"
      if [[ "$mstrkey" == "unset" ]] ; then
          mstrkey=$(dmidecode -s system-serial-number)
      fi
      if [[ "$password" == "unset" ]] ; then
          password=$( date +%s | sha256sum | base64 | head -c 12 | sed "s/$/-$(( $RANDOM % 10 ))aZ/g" )
          # record the password in case HP needs to rebuild something.
          {{ if .Param "raid-encryption-password-save" }}
          drpcli machines set $RS_UUID param raid-encryption-password to "$password" >/dev/null
          {{ end }}
      fi

      drp-raid -tools "{{.Param "raid-usable-utilities" | join ","}}" -encrypt -password "$password" -key "$mstrkey"

      drpcli machines set "$RS_UUID" param raid-skip-encryption to true
      exit 0
