#!/bin/bash

# $0: Script to install prereq packages and curtin from endpoint.
set -e

packages=({{.Param "curtin/prereqs"}})
curtin_ver={{.Param "curtin/version"}}

# Contain the code
mkdir tmp ; cd tmp

echo "Downloading curtin-${curtin_ver}.tar.gz"
curl -sfgL -o curtin-${curtin_ver}.tar.gz "{{.ProvisionerURL}}/files/plugin_providers/image-deploy/curtin-${curtin_ver}.tar.gz" \
	|| (echo "Failed to download curtin."; exit 1)

echo Downloading packages.
for package in "${packages[@]}"; do
	curl -sfgL -o ${package} "{{.ProvisionerURL}}/files/plugin_providers/image-deploy/${package}" \
		|| (echo "Failed to download ${package}"; exit 1)
	
	echo Installing ${package}.
	rpm -q --noverify --quiet ${package} || ( rpm --rebuilddb || : && rpm -Uvh ${package} )
done

echo "Installing curtin ${curtin_ver}"
tar zxf curtin-${curtin_ver}.tar.gz
curt_dir=$(tar tf curtin-${curtin_ver}.tar.gz | head -1 | sed 's|/||g')
( cd ${curt_dir} && python setup.py install )
exit 0
