#!/bin/bash

set -e

# Contain the code
mkdir tmp ; cd tmp

echo "Get required files"
files=(dpkg-1.17.27-1.el7.x86_64.rpm libyaml-0.1.4-11.el7_0.x86_64.rpm PyYAML-3.10-11.el7.x86_64.rpm libtommath-0.42.0-6.el7.x86_64.rpm curtin-19.3-mbcache.tar.gz python-oauthlib-0.6.0-2.el7.noarch.rpm libtomcrypt-1.17-26.el7.x86_64.rpm python2-crypto-2.6.1-15.el7.x86_64.rpm)
for i in "${files[@]}"
do
    if ! curl -fgL \
          -o $i \
          "{{.ProvisionerURL}}/files/plugin_providers/image-deploy/$i"; then
          echo "Failed to download $i"
          exit 1
      fi
done

echo "Installing required packages"
if rpm -qa | grep -q PyYAML-3.10-11 ; then
    echo "packages already installed."
else
    rpm --rebuilddb
    yum clean all
    yum install -y *.rpm
fi

echo "Updating curtin to 19.3"
tar -zxf curtin-19.3-mbcache.tar.gz
cd curtin-19.3
python setup.py install;

exit 0

