
network:
  config:
  - id: {{.Param "curtin/network/ifname"}}
    mac_address: {{.Param "curtin/network/bootmac"}}
    mtu: 1500
    name: {{.Param "curtin/network/ifname"}}
    subnets:
    - address: {{.Machine.Address}}/{{.Param "curtin/network/cidr"}}
      dns_nameservers: []
      gateway: {{.Param "curtin/network/gateway"}}
      type: static
    type: physical
  - address:
{{range $idx, $key := (.Param "curtin/network/nameservers")}}
    - {{$key}}
{{end}}
    search:
    - maas
    type: nameserver
  version: 1

network_commands:
  builtin: curtin net-meta custom

