
install:
  log_file: /tmp/curtin-install.log
  post_files: /tmp/curtin-post-install.log

sources:
  05_primary:
{{if .ParamExists "image-deploy/image-url" }}
    uri: "{{.Param "image-deploy/image-url"}}"
{{end }}
{{if .ParamExists "image-deploy/image-file" }}
    uri: "{{.ProvisionerURL}}/{{.Param "image-deploy/image-file"}}"
{{end }}
    type: "{{.Param "image-deploy/image-type"}}"
  06_drp:
    uri: "file:///tmp/drpcli.tar.gz"
    type: "tgz"
{{$top := . }}
{{range $index, $file := .Param "image-deploy/additional-tarballs" }}
  {{$file.index}}:
{{if $file.drpserved }}
    uri: "{{$top.ProvisionerURL}}/{{$file.uri}}"
{{else}}
    uri: "{{$file.uri}}"
{{end}}
    type: "{{$file.format}}"
{{end}}

{{if eq (.Param "image-deploy/image-os") "linux"}}
kernel:
  package: linux-generic
{{end}}

{{if .ParamExists "image-deploy/windows-license-key"}}
license_key: {{.Param "image-deploy/windows-license-key"}}
{{end}}

debconf_selections:
  maas: |
    cloud-init cloud-init/maas-metadata-url string {{.Machine.Url}}/
    cloud-init cloud-init/maas-metadata-credentials string oauth_token_key=&oauth_consumer_key=&oauth_token_secret=

{{if .ParamExists "curtin/network/template"}}
{{.CallTemplate (.Param "curtin/network/template") .}}
{{end}}

{{if .ParamExists "curtin/partitions"}}
partitioning_commands:
  builtin: curtin block-meta custom

{{.ParamAsYAML "curtin/partitions"}}

{{else}}
partitioning_commands:
  builtin: curtin block-meta --device={{.Param "image-deploy/install-disk"}} simple
{{end}}

# vi: ts=4 expandtab syntax=yaml
#
