
& \curtin\drpcli.exe -T {{.GenerateInfiniteToken}} -E {{.ApiURL}} machines update {{.Machine.UUID}} '{ "Runnable": true }'
& \curtin\drpcli.exe -T {{.GenerateInfiniteToken}} -E {{.ApiURL}} machines processjobs {{.Machine.UUID}}

