
HP_SYSTEM=false
DELL_SYSTEM=false
LENOVO_SYSTEM=false

{{ $inv := .Param "gohai-inventory" }}
{{ $mfgr := $inv.DMI.System.Manufacturer }}
{{ if or (eq "HPE" $mfgr) (eq "HP" $mfgr) }}
{{ template "ipmi-hpe-tools.sh.tmpl" . }}
{{ else if eq "Dell Inc." $mfgr }}
{{ template "ipmi-dell-tools.sh.tmpl" . }}
{{ else if eq "Lenovo" $mfgr }}
{{ template "ipmi-lenovo-tools.sh.tmpl" . }}
{{ else }}
{{ template "ipmi-any-tools.sh.tmpl" . }}
{{ end }}
