#!/bin/bash
# Install IPMI packages for IPMI plugin use

{{ if eq (.Param "rs-debug-enable") true -}}
set -x
{{end -}} 

if [[ -f /etc/os-release ]]; then
  . /etc/os-release
fi

fail() {
  echo "Failed"
  exit 1
}

success() {
  echo "Success"
  exit 0
}

#
# This routine will mark the parameters to skip IPMI on
# systems that don't have IPMI subsystems or fail.
#
disable_ipmi() {
  echo "IPMI Subsystem not available on this node."

  # Mark address as empty to make sure that actions aren't available.
  drpcli machines set $RS_UUID param ipmi/enabled to false
  if ! drpcli machines remove $RS_UUID param ipmi/address; then
    true
  fi

  if [[ $IPMI_CONFIGURE_FAIL == true ]] ; then
    fail
  else
    success
  fi
}

if ! which ipmitool 2>/dev/null >/dev/null ; then
    if [[ -f /etc/redhat-release || -f /etc/centos-release ]]; then
        yum -y makecache
        yum install -y ipmitool
    elif [[ -d /etc/apt ]]; then
        apt-get -y update
        apt-get -y install --force-yes ipmitool
    else
        echo "The 'ipmi-install.sh.tmpl' tool does not know how to install 'ipmitool' for this platform."
        disable_ipmi
    fi
else
    echo "ipmitool already installed."
fi

exit 0

